.custom-title {
    margin-top: 60px;
}

/* .lista-eventos-section {
    background-color: var(--color-white) !important;
    border: 1px solid red;
} */

.select-tp-evento {
    margin-top: 30px;
}

@media screen and (min-width: 992px){
    
    .select-tp-evento {
        margin-top: 50px;
        max-width: 350px;
    }
}

.info-evento-section, .lista-eventos-section{
    padding: 50px,0
}

.info-evento-section{
    height: 400px;
}